.leaderboard-header{
  text-align: center;
  color: white;
}

.game-tile{
  display: flex;
  font-family: "Montserrat";
  font-size: xx-large;
  font-weight: 600;
  color: white;
  position: relative;
  padding-left: 48%;
}

.leaderboard-score{
  padding-right: 2em;
}
